extends ../layout.pug

block content
    h2 Колекція портів
    br
    br
    each val, index in data
        div.port= index + '. Імя:' + val.name + '; країна:' + val.country + '; EDP:' + val.EDP + '; пристань:' + val.pier
